html, body {
    background:url(/images/background.jpg) repeat scroll top left #F2F2F2;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}